fastapi
uvicorn
llama-index
qdrant-client
llama-index-vector-stores-qdrant
python-multipart
requests
python-dotenv
psycopg2-binary
slowapi

# Reranking capabilities
llama-index-postprocessor-cohere-rerank

# Optional for auth:
# python-jose[cryptography]
# fastapi-users 